body {
/*	font: 'Raleway', sans-serif;*/
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #6221C4 , #EFE1CE); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

. wrapper { 
    width: 35px;
    height: 35px;
    display: flex;
 }


button {
    font-size: 15px;
    height: 31.7px;
    margin: auto;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: .5em;
    box-sizing: border-box;
    line-height: normal;
    padding-left: .5em;
}